@import 'tailwindcss';

.hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d4a373;
}


.hexagon {
    @apply w-[80%] h-[80%] sm:w-[350px] sm:h-[300px] md:h-[400px] md:w-[400px] lg:w-[500px] lg:h-[500px]
}

.hexagon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

