@import "tailwindcss";

* {
     font-family: "Roboto Mono", monospace;
}

::-webkit-scrollbar{
    @apply w-0
}

body, .hello {
    background: linear-gradient(
    to right,
    #1a1a1a,
    #0d1b2a,
    #1b263b
    );
    height: 100vh;
}


button {
    cursor: pointer;
}

.mynav {
    background: linear-gradient(
        to right,
        #1a1a1a,
        #0d1b2a,
        #1b263b
    );
}


